body{
    background-image: url('bg_v2.png');
    /* font-family: sans-serif;
    padding: 0 5%;
    color: white; */
}

.radio-group .form-check {
    padding-left: 0;
  }
  
.radio-group .btn-group > .form-check:not(:last-child) > .btn {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
margin-left: -1px;
}

.card-container{
    background-color: transparent;
    border-color: transparent;
}

.display-5{
    font-size: 1.25rem;
}

.housed_plots > div:first-child {
    height: 15vw !important;
} 
.plotly-graph-div > div:first-child {
    height: 15vw !important;
}


.housed-metrics{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    background-color: white;
    color:#3C7681;
}

.housed-metrics > h4{
    padding: 1% 5% 1% 1%;
    margin: 0;
}

.arrow-up-1 {
    width: 0; 
    height: 0; 
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: .7em solid white;
}

.white-link {
    color: white;
    text-decoration: none; /* To remove the underline */
  }
  
  /* Optionally, you can add styles for hover and active states of the links */
.white-link:hover {
    color: lightgray; /* Change the color on hover */
}
